<footer fxLayout="row" fxHide.sm fxLayoutAlign="center" class="footer">
  <section fxFlex="33" fxHide.lt-md fxLayout="row">
    <section fxFlex="50" fxLayoutAlign="center center" fxLayoutGap="10px">
      <h2>Usuarios</h2>
    </section>
    <section fxFlex="50"></section>
  </section>
  <section fxFlex="50" fxFlex.gt-md="34" fxFlex.lt-sm="100" fxLayoutAlign="center center" class="footer-contact">
    <h2> Atlas Informática
    </h2>
  </section>
  <section fxFlex="50" fxFlex.gt-md="33" fxHide.lt-sm fxLayout="column" fxLayoutAlign="center center" class="footer-contact">
    <h2>Calle Punta Alta, 33, 29006 Málaga</h2>

  </section>
</footer>
