/*
Colors
*/
$color-header: white;
$color-footer: white;
$color-border-image: #034173;
$color-utilities-container: lightgrey;

$background-header: #3f51b5; //aqui se cambia el color del header
$background-footer: #3f51b5;
$background-main: #efeff1;




$footer-size:100px;

/*
 Typography
*/

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif;

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.
